<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet"
	th:href="@{css/demo.css}" />
	
</head>
	
<body>

<h1> Project Thymeleaf</h1>

	<p th:text="'Current Date='+${date}" class="funny">
	
	<div> <img th:src="@{/images/whatiscrypto8.png}"></div>

<h1> Hello Arc </h1>

	<form action="show">
		
	Search : <input type = "text" name="name">
			
				<input type= "submit" value="Search">
				
		<!-- <select>
			<option value="id"> Select By Id </option>
			<option value="name"> Select By Name </option> 
			<option value="price"> Select By Price </option>
			<option value="des"> Select By Description </option>
			
		</select> -->
		
	<!-- <select>
		
    		<option th:name="id" >Select By Id</option>
			<option th:name="name">Select By Name</option>
			<option th:name="price">Select By Price</option>
			<option th:name="des">Select By Description</option>
		</select> -->
			
				
	</form>
	
<table>
	<tr>
	
	<td> ID </td>
	<td> NAME</td> 
	<td> PRICE </td>
	<td> DES </td>

	</tr>
	
	<tr th:each = "temp : ${amazonData}">
		
		<td th:text=" ${temp.id }"></td>
		<td th:text=" ${temp.name }"></td>
		<td th:text=" ${temp.price }"></td>
		<td th:text=" ${temp.des }"></td>	
		
		<!-- <td> <a href="deleteUser?id=${temp.id }"> Delete </a></td>
		<td> <a href="updateUser?id=${temp.id }"> Update </a></td> -->		
	</tr>
</table>

</body>
</html>